# Node
node_modules/
dist/
dist-web/
dist-electron/
dist-server/
release/
.vite/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp*

# macOS
.DS_Store

# playwright
.playwright-mcp/
.playwright-cli/

tests/*
!tests/writing-editor/
!tests/writing-editor/**
tests/.tmp*
