.comet-dropdown-menu-search-header .comet-inputbox.comet-dropdown-menu-search-input {
  --comet-inputbox-height: 26px;
  --comet-inputbox-border-radius: 7px;
  --comet-inputbox-background-hover: transparent;
  --comet-inputbox-foreground: var(--comet-agentBar-inputForeground, #1f2d3a);
}
