.dropdown-menu-search-header .inputbox.dropdown-menu-search-input {
  --inputbox-height: 26px;
  --inputbox-border-radius: 7px;
  --inputbox-background-hover: transparent;
  --inputbox-foreground: var(--vscode-agentBar-inputForeground, #1f2d3a);
}
