.comet-split-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.comet-split-view > .comet-split-view-container {
  position: absolute;
  inset: 0;
}

.comet-split-view > .comet-sash-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.comet-split-view > .comet-sash-container > .comet-sash {
  pointer-events: auto;
}

.comet-split-view > .comet-sash-container > .comet-split-view-separator {
  position: absolute;
  pointer-events: none;
  background: var(--comet-separator-border);
  display: none;
  opacity: 0;
}

.comet-split-view > .comet-sash-container > .comet-split-view-separator.comet-visible {
  display: block;
  opacity: 1;
}

.comet-split-view > .comet-split-view-container > .comet-split-view-view {
  position: absolute;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.comet-split-view > .comet-split-view-container > .comet-split-view-view:not(.comet-visible) {
  display: none;
}

.comet-split-view.comet-vertical > .comet-split-view-container > .comet-split-view-view {
  top: 0;
  height: 100%;
}

.comet-split-view.comet-horizontal > .comet-split-view-container > .comet-split-view-view {
  left: 0;
  width: 100%;
}
