.comet-sash {
  position: absolute;
  z-index: 20;
  touch-action: none;
  user-select: none;
  background: transparent;
}

.comet-sash.comet-vertical {
  top: 0;
  width: var(--comet-sash-size);
  height: 100%;
  cursor: ew-resize;
}

.comet-sash.comet-horizontal {
  left: 0;
  width: 100%;
  height: var(--comet-sash-size);
  cursor: ns-resize;
}

.comet-sash.comet-disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.comet-sash.comet-vertical.comet-minimum {
  cursor: e-resize;
}

.comet-sash.comet-vertical.comet-maximum {
  cursor: w-resize;
}

.comet-sash.comet-horizontal.comet-minimum {
  cursor: s-resize;
}

.comet-sash.comet-horizontal.comet-maximum {
  cursor: n-resize;
}

.comet-sash::before {
  content: '';
  position: absolute;
  pointer-events: none;
  border-radius: 999px;
  transition:
    background-color 120ms ease-out,
    width 120ms ease-out,
    height 120ms ease-out;
  background: transparent;
}

.comet-sash.comet-vertical::before {
  top: 50%;
  width: var(--comet-sash-hover-size);
  height: 58px;
  left: calc(50% - (var(--comet-sash-hover-size) / 2));
  transform: translateY(-50%);
}

.comet-sash.comet-horizontal::before {
  left: 0;
  right: 0;
  height: 1px;
  top: calc(50% - 0.5px);
}

.comet-sash.comet-hover.comet-horizontal::before,
.comet-sash.comet-active.comet-horizontal::before {
  height: var(--comet-sash-hover-size);
  top: calc(50% - (var(--comet-sash-hover-size) / 2));
  background: var(--comet-sash-hoverBorder, rgba(46, 109, 179, 0.28));
}

.comet-sash.comet-hover.comet-vertical::before,
.comet-sash.comet-active.comet-vertical::before {
  background: #111111;
}
