.sash {
  position: absolute;
  z-index: 20;
  touch-action: none;
  user-select: none;
  background: transparent;
}

.sash.vertical {
  top: 0;
  width: var(--sash-size);
  height: 100%;
  cursor: ew-resize;
}

.sash.horizontal {
  left: 0;
  width: 100%;
  height: var(--sash-size);
  cursor: ns-resize;
}

.sash.disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.sash.vertical.minimum {
  cursor: e-resize;
}

.sash.vertical.maximum {
  cursor: w-resize;
}

.sash.horizontal.minimum {
  cursor: s-resize;
}

.sash.horizontal.maximum {
  cursor: n-resize;
}

.sash::before {
  content: '';
  position: absolute;
  pointer-events: none;
  border-radius: 999px;
  transition:
    background-color 120ms ease-out,
    width 120ms ease-out,
    height 120ms ease-out;
  background: transparent;
}

.sash.vertical::before {
  top: 50%;
  width: 2px;
  height: 58px;
  left: calc(50% - 1px);
  transform: translateY(-50%);
}

.sash.horizontal::before {
  left: 0;
  right: 0;
  height: 1px;
  top: calc(50% - 0.5px);
}

.sash.hover.horizontal::before,
.sash.active.horizontal::before {
  height: var(--sash-hover-size);
  top: calc(50% - (var(--sash-hover-size) / 2));
  background: var(--vscode-sash-hoverBorder, rgba(46, 109, 179, 0.28));
}

.sash.hover.vertical::before,
.sash.active.vertical::before {
  background: #111111;
}
