.comet-lx-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
  flex-shrink: 0;
}

.comet-lx-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes comet-lx-icon-spin {
  100% {
    transform: rotate(360deg);
  }
}

.comet-lx-icon-modifier-spin {
  animation: comet-lx-icon-spin 1.5s steps(30) infinite;
}

.comet-lx-icon-loading,
.comet-lx-icon-sync.comet-lx-icon-modifier-spin {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}
